h2.visually-hidden Список тем
ul.themes
  li.themes__item
    a.themes__item-link(href='#')
      | Автомобили 
      sup.themes__link-sup 88
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Удаленная работа 
      sup.themes__link-sup 13
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Бизнес 
      sup.themes__link-sup 13
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Путешествия 
      sup.themes__link-sup 13
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link.themes__item-link--padding(href='#')
      | Дизайн и обустройство 
      sup.themes__link-sup 13
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Производство игрушек 
      sup.themes__link-sup 22
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | UX & UI 
      sup.themes__link-sup 22
    button.themes__remove-btn(type='button') Удалить категорию