extends layout.pug

block content
  main.articles-category
    h1 #{searchedCategory.name}
    section.articles-category__theme-list
      include partials/categories
    include partials/articles-list
  